
@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("//loganpetitlot.shop/cdn/fonts/open_sans_condensed/opensanscondensed_n3.21acf631f24692841105ddde3fdc951102b8f235.woff2?h1=bG9nYW5wZXRpdGxvdC5zaG9w&h2=bG9nYW4tcGV0aXQtbG90LmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=cfac7c9311bc4e71dd8d094ddaae2f2542a7548cf7bfff149aeabf135cfad65b") format("woff2"),
       url("//loganpetitlot.shop/cdn/fonts/open_sans_condensed/opensanscondensed_n3.5c88722f47f23c603ca4abec4670fb3b0868fdc8.woff?h1=bG9nYW5wZXRpdGxvdC5zaG9w&h2=bG9nYW4tcGV0aXQtbG90LmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=21066981b10861191e17754d85d1bbcb97bef9fac0749b55b28ad094ed98f5ee") format("woff");
}

@font-face {
  font-family: Questrial;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//loganpetitlot.shop/cdn/fonts/questrial/questrial_n4.0ba6d2b6094954bab23732c75d3ecb4c47a5869c.woff2?h1=bG9nYW5wZXRpdGxvdC5zaG9w&h2=bG9nYW4tcGV0aXQtbG90LmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=e5c38b7d9db2046384f60e80e7f3e4a9b0d35deb6f50c8212e72b97ceab4e10e") format("woff2"),
       url("//loganpetitlot.shop/cdn/fonts/questrial/questrial_n4.5abce10d8846bb9326c9741eaffed9667c847692.woff?h1=bG9nYW5wZXRpdGxvdC5zaG9w&h2=bG9nYW4tcGV0aXQtbG90LmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=2a6c769045b76fada30e2c158ebacefe69883dbe1393dfed4a02dc02e42d1049") format("woff");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("//loganpetitlot.shop/cdn/fonts/open_sans_condensed/opensanscondensed_n3.21acf631f24692841105ddde3fdc951102b8f235.woff2?h1=bG9nYW5wZXRpdGxvdC5zaG9w&h2=bG9nYW4tcGV0aXQtbG90LmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=cfac7c9311bc4e71dd8d094ddaae2f2542a7548cf7bfff149aeabf135cfad65b") format("woff2"),
       url("//loganpetitlot.shop/cdn/fonts/open_sans_condensed/opensanscondensed_n3.5c88722f47f23c603ca4abec4670fb3b0868fdc8.woff?h1=bG9nYW5wZXRpdGxvdC5zaG9w&h2=bG9nYW4tcGV0aXQtbG90LmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=21066981b10861191e17754d85d1bbcb97bef9fac0749b55b28ad094ed98f5ee") format("woff");
}











